body {
  margin: 0;
  background: #ffd6e7;
  font-family: "Avenir Next", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

div {
  text-align: center;
}